{% extends "base.html" %}

{% block content %}
<div class="LoginBody">
    <a href="{{ url_for('main.index') }}">
        <img id="LogoBtn"  src="{{ url_for('static', filename='img/logo.png') }}" />
    </a>
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login" id="LoginForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="Login1">
                <input type="text" name="username" placeholder="Username" autofocus="">
                <input type="password" name="password" placeholder="Your Password">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button>Login</button>
        </form>
    </div>
</div>
{% endblock %}