{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/admin_page.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

{% for username in usernames %}
    <div class="user_edit">
        <form method="POST" action="/admin/save" id="admin_save_form_"{{username}} onsubmit="return confirm('Ar tikrai pakeisti \'{{username}}\' slaptažodį?')">
            <div class="user_edit_row" id="{{username}}">
                <div class='user_fields'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="text" name="username" value="{{username}}" readonly="readonly" class="readOnly">
                    <input id="password_{{username}}" type="password" name="password" placeholder="Naujas slaptažodis">
                    <label>
                        <input type="checkbox" name="toggle_password" onclick="toggle_password_func('{{username}}')">
                        Rodyti naują slaptažodį
                    </label>
                </div>
                <button id="change_pass" class="btn">Keisti slaptažodį</button>
            </div>
        </form>
        <form method="POST" action="/admin/delete" id="admin_delete_form_"{{username}} onsubmit="return confirm('Ar tikrai ištrinti vartotoją \'{{username}}\'?')">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="username" value="{{username}}"/>
            <button class="btn">Ištrinti vartotoją</button>
        </form>
    </div>
{% endfor %}

<form id="new_user_form" action="{{ url_for('auth.register') }}">
    <input class="btn" type="submit" value="Sukurti naują vartotoją" />
</form>

{% endblock %}
