{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/converter.css') }}">

<div class="content">
    <header>
        <h3 id="programName">LUTEX NUMERIŲ KONVERTAVIMO PROGRAMA</h3>
        <a href="{{ url_for('main.index') }}">
            <img id="LogoBtn"  src="{{ url_for('static', filename='img/logo.png') }}" />
        </a>
    </header>
    <main class="converterContents">
        {% if before_size %}
            <div id="itemsCount">
                <div id="itemsCountLeft">
                    <p id="nr_count">
                        Rasta unikalių įrašų:<label id="Label2">{{before_size}}</label>
                    </p>
                </div>
                <div id="itemsCountRight">
                    <p id="convert_count">Konvertuota numerių:<label id="Label3">{{after_size}}</label>
                    </p>
                </div>
            </div>
        {% endif %}

        <div id="buttons">

            <form action="{{ url_for('conv.converter') }}" method="POST" enctype="multipart/form-data">
                <div class="chooseFile">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="file" name="file" accept="{{ '.'+', .'.join(allowed_extensions) }}" id="File_upload" {% if before_size %} disabled {% endif %} class="btn" Height="38px" />
                </div>
                <div>
                    <label for="drop_down_list" id="LabelChoose">Saugojimo formatas</label>
                    <select name="export_format" id="drop_down_list" {% if before_size %} disabled {% endif %}>
                        {% for output_f in export_formats %}
                            <option value={{output_f}} {%if output_f == selected_format %} selected="selected" {% endif %} >{{output_f}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="Btn_load" class="btn" {% if before_size %} disabled {% endif %}>Įkelti</button>
                </div>
            </form>
            <div id="save_div" {% if not before_size %} style="display:none" {% endif %}>
                <form name="save_form" action="/download" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" id="btn_save" class="btn">Atsisiųsti failą</button>
                </form>
            </div>
            <div id="reset_div" {% if not before_size %} style="display:none" {% endif %}>
                <form action="/reset_form" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" id="btn_reset" class="btn">Atšaukti</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
