{% extends "base.html" %}

{% block content %}
<body>
    <header>
        <h3 id="programName">LUTEX NUMERIŲ KONVERTAVIMO PROGRAMA</h3>
        <a href="{{ url_for('main.index') }}">
            <img id="LogoBtn"  src="{{ url_for('static', filename='img/logo.png') }}" />
        </a>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% for msg in messages: %}
            <div class="notification is-danger">
                {{ msg }}
            </div>
        {% endfor %}
        {% endwith %}
        {% if before_size %}
            <div id="itemsCount">
                <div id="itemsCountLeft" class="clearfix">
                    <p id="nr_count">
                        Rasta unikalių įrašų:<label id="Label2">{{before_size}}</label>
                    </p>
                </div>
                <div id="itemsCountRight" class="clearfix">
                    <p id="convert_count">Konvertuota numerių:<label id="Label3">{{after_size}}</label>
                    </p>
                </div>
            </div>
        {% endif %}

        <div id="buttons">

            <div id="smthg" >
                <form action="{{ url_for('main.converter') }}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="file" name="file" accept="{{ '.'+', .'.join(allowed_extensions) }}" id="File_upload" {% if before_size %} disabled {% endif %} class="btn" Height="38px" />
                    <label for="drop_down_list" id="LabelChoose" height="25px">Saugojimo formatas</label>
                    <select name="export_format" id="drop_down_list" width="75" {% if before_size %} disabled {% endif %}>
                        {% for output_f in export_formats %}
                            <option value={{output_f}} {%if output_f == selected_format %} selected="selected" {% endif %} >{{output_f}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn" id="Btn_load" OnClick="Btn_press_Click"{% if before_size %} disabled {% endif %}>Įkelti</button>
                </form>
            </div>

            <div id="save_div" {% if not before_size %} style="display:none" {% endif %} >
                <form name="save_form" action="/download" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <button type="submit" id="btn_save" class="btn" width="92px">Išsaugoti</button>
                </form>
            </div>
        <form action="/reset_form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" id="btn_reset" class="btn" width="92px">Reset</button>
        </form>
        </div>
    </main>

    <footer >
        <hr/>
        <button id="SwapBtn" style="font-family:'Times New Roman';font-size:x-large" OnClick="SwapBtn_Click">Eiti į 'šveplinimo' puslapį</button>
    </footer>
</body>
{% endblock %}
